services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: automotive
      POSTGRES_USER: automotive
      POSTGRES_PASSWORD: automotive
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  vue-app:
    build:
      context: frontend
      dockerfile: Dockerfile
      args:
        VITE_API_URL: ${VITE_API_URL}

    ports:
      - "8080:80"

  app:
    build:
      context: backend
      dockerfile: Dockerfile
      args:
        DATABASE_URL: ${DATABASE_URL}
    depends_on:
      - db
    ports:
      - "3000:3000"
    command: >
      sh -c "npx prisma migrate deploy && 
             npx prisma db seed &&
             npm start"
    environment:
      NODE_ENV: development

volumes:
  db_data:
